<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.app.churchofchrist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">


        <!--
        android:backupAgent="TheBackupAgent"
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIyGfQbECBdvlz0U-UIw0jdDkrjZd6uOoZWEXc8w" />
        -->

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ox.OxDetail1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ox.AnotherActivity">
            <intent-filter>
                <data
                    android:host="AnotherActivityHost"
                    android:scheme="activity-run"
                    tools:ignore="AppLinkUrlError" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="Контакты"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bible.BibleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bible"
            android:theme="@style/AppThemeBible.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".bible.BibleActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bible"
            android:theme="@style/AppThemeBible.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".notepad.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".notepad.NoteActivity"
            android:label="@string/note"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Songs. -->
        <activity
            android:name=".songs.SongsActivity"
            android:label="@string/songs" />
        <activity
            android:name=".songs.SongsDetailActivity"
            android:label="@string/songs" />
        <activity
            android:name=".songs.SongsFavoritesActivity"
            android:label="@string/favorites_songs" />

        <!-- Хорошие новости. -->
        <activity
            android:name=".good_news.GoodNewsActivity"
            android:label="@string/label_good_news"
            android:theme="@style/ThemeGoodNews" />
        <!-- * * * -->


        <!-- Вопросы-Ответы. -->
        <activity
            android:name=".ansver.AnsverActivity"
            android:label="@string/answer"
            android:theme="@style/ThemeAnsver" />
        <activity
            android:name=".ansver.AnsverDetailActivity"
            android:label="@string/answer"
            android:theme="@style/ThemeAnsver" />

        <!-- Виджет. -->
        <receiver android:name=".widget.MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".widget.UpdateWidgetService" />
        <!-- * * * -->

        <service android:name=".firebase.FCMInitializationService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.FCMCallbackService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".firebase.InfoNewsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_info_news"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name=".InfoNewsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".plans.PlansActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bible"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeBible.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".good_news.DetailTopicActivity"
            android:label="@string/answer"
            android:theme="@style/ThemeAnsver" />
    </application>

</manifest>