/*-------------------------------------------------------------- Reset --------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	overflow-y: scroll;
	/* Keeps page centred in all browsers regardless of content height */
}
article, aside, details, figcaption, figure, footer, header, main, nav, main {
	display: block;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: none;
}
a:hover, a:active {
	/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
embed, iframe, object {
	max-width: 100%;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

/*-------------------------------------------------------------- The CSS code --------------------------------------------------------------*/

html {}
body {
	font-family: 'Helvetica', sans-serif;
	position: relative;
	width: 100%;
	font-weight: normal;
	font-size: 16px;
	color: #333;
	background-color: #fff;
	-webkit-transition: all 1.2s;
	-o-transition: all 1.2s;
	transition: all 1.2s;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica', sans-serif;
	color: #777;
	line-height: 2em;
	font-weight: 300;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.6em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
	margin: 30px 0 10px 0;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
header {
	text-align: center;
	padding: 0 0 30px 0;
}
header p {
	color: #777;
}
header h1 {
	margin-bottom: -25px;
}
header blockquote {
	color: #888;
	font-size: 0.75em;
	font-weight: 300;
}
main {
	width: 998px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 60px 15px 45px 15px;
	text-align: justify;
}

/* Навигация по главам книги */

.chapters {
	margin: 30px 0;
	width: 100%;
}
.chapters ul li {
	display: inline-block;
	text-align: center;
	margin: 0.25em 0.25em;
}
.chapters ul li a {
	display: block;
	color: #A35301;
	width: 2em;
	padding: 0.4em 0.2em;
	background-color: #f5f1ed;
	border: 1px solid #f5f1ed;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.chapters ul li a:hover {
	background-color: transparent;
}

/* Стили главы и содержания */

sup {
	color: #006883;
	font-size: 10px;
    padding: 4px;
    margin-right: 4px;
}
sup:hover {
    cursor: pointer;
    font-weight: 900;
}
sup:target {
    background: #32869b;
    color: #fff;
    padding: 2px 4px;
    font-weight: 900;
    margin: 1em 0;
    display:block;
    width:3em;
    text-align: center;
        
}
a, a:link {
	color: #006883;
	text-decoration: none;
}
a:visited {
	color: #33afb4;
	text-decoration: none;
}
a:hover {
	color: #33afb4;
	text-decoration: none;
}
p.right_all, p.copy {
	font-size: 1em;
}
p.copy hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}
.left_all {
	position: relative;
	text-align: left;
}
ol {
	display: block;
	list-style-type: decimal;
	margin: 30px 50px;
}
q {
	color: darkred;
}
small {
	font-size: 0.8em;
}

/* Кнопка вверх */

#totop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 10;
}
#totop img {
	display: block;
	width: 45px;
	height: 45px;
	opacity: 0.4;
}
#totop img:hover {
	opacity: 1;
}
#totop a {
	font-size: 0;
	line-height: 0;
}

/* Анимация кнопок */

.animup {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.animup:hover {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	    transform: translateY(5px);
}

/* Кнопка содержание */

.btn {
	border: 1px solid #33afb4;
	display: inline-block;
	color: #33afb4;
	background-color: transparent;
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	padding: 4px 12px;
	margin: 15px 0;
}
.btn:hover {
	color: #fff;
	background-color: #33afb4;
}

/* Audio version */

.audio {
	margin: 15px 0 30px 30px;
	display: block;
}
.audio p {
	color: #777;
	margin-bottom: 10px;
}

/* Подвал сайта */

footer {
    display: block;
	width: 100%;
	background-color: #777;
	color: #eee;
	text-align: center;
	margin: 45px auto 0 auto;
	padding: 15px 0;
    z-index: 9;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
footer h6 {
	color: #f3f3f3;
	font-weight: 700;
}
footer p {
	font-size: 0.8em;
	margin: 0.5em 0;
}
footer p a {
	color: #eee !important;
}
header h1 {
	font-weight: 700;
}
footer small {
	font-size: 0.6em;
}
.footer-logo {
    width: 36px;
    margin: 15px auto;
}
/* Окно поделиться отрывком */
#share {
    display: none;
    position: fixed;
    top: calc( 30% - 200px );
    left: calc( 50% - 25vw );
    background: #eee;
    width: 50vw;
    height: auto;
    padding: 2em 0.5em 2em 0.5em;
    border: 2px solid #888;
    text-align: center;
    z-index: 500;
}
#share h4 {
    line-height: 1;
    margin: 0.75em 0 0 0;
}
#share h6 {
    line-height: 1;
    font-weight: 700;
    margin-top: 3em;
    color: #006883;
    font-size: 1.2em;
}
#share p {
    text-align: left;
    margin: 0 1em 1em 2em;   
}
#share sup {
    display: none;
}
.share_btns {
    width: 280px;
    margin:0 auto;
}
#close_share {
    position: absolute;
    top:10px;
    right:10px;
}
#close_share img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

blockqoute {
    display: block;
    margin: 1.5em 1.5em 3em 1.5em;
    padding: 30px;
    background: #d7ddde;
    color: #36626e;
    border-left: 4px solid #32869b;
    text-align: left;
}



/* Responsive Mobile version */

@media screen and (max-width: 1020px) {
	p {
		font-size: 18px;
	}
	main {
		width: 100%;
		padding: 10px 10px 45px 10px;
        overflow: hidden;
	}
	header p {
		font-size: 0.8em;
	}
	.search {
		padding: 200px 60px 0px 60px;
	}
}
@media screen and (max-width: 766px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.2em;
	}
	h5 {
		font-size: 1em;
	}
	h6 {
		font-size: 0.8em;
	}
	header h1 {
		margin-bottom: -10px;
	}
	header h5 {
		line-height: 16px;
		margin-bottom: 10px;
	}
	#search {
		padding: 150px 30px 0px 30px;
	}
    #share {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 98%;
        overflow-y: auto;
    }
    p > sup {
        margin-left: 20px;
    }
}
@media screen and (max-width: 480px) {
	#totop {
		bottom: 15px;
		right: 15px;
	}
	.search {
		padding: 150px 15px 0px 15px;
	}
    #share h6 {
        font-size: 1em;
    }
}
@media screen and (max-width: 320px) {
    audio {
        width: 80vw;
    }  
}