@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Source Serif Pro', serif;	
	font-size: 12px;
	color: #fff;
	background-color: #C5EFF7;
}
#card-container {
	width: 90%;
	margin: auto auto auto auto;
	box-shadow: 0 8px 20px -6px #000;
 }
/* SECTION PHOTO */
.photo {
	height: 500px;
	background-image: url('http://www.icocnews.ru/wp-content/uploads/2018/03/837676-1200x575.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.text-photo{
	z-index: 2;
	position: relative;
	left: 5%;
	top: 50%;
}
.author {
	font-weight: 400;
	text-transform: uppercase;
}
.headline {
	text-transform: uppercase;
	font-weight: 800;
	margin-right: 20%;
}
.topic_btn {
	margin-top: 10px;
	font-weight: 800;
	color: #000;
	background-color: #fff;
	border-radius: 2px;
	padding: 10px;
	text-transform: uppercase;
	outline: none;
	border: 0;
}
/* SECTION TEXT */
.text {
	padding: 40px 5% 10px 5%;
	height: 100%;
	color: #95A5A6;
	background-color: #F2F1EF;
}
.main-article {
	font-size: 1em;
	text-align: left;
	line-height: 1.5em;
}
.main-article p {
	margin-bottom: 15px;
}
.main-article p:first-child:first-letter { 
	float: left; 
	color: #4a545e; 
	font-size: 5.5em; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
}
/* SECTION COMMENTS */
.comments{
	padding: 30px 5% 10px 5%;	
	color: #000;
	background-color: #fff;
}
.comments h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	margin-bottom: 30px;
}
li{
	font-size: 0.8em;
	list-style: none;
	margin-bottom: 30px;
}
.user-photo {
	float: left;
	border-radius: 50px;
	margin-right: 15px;
}
.comments-head {
	font-weight: 800;
	color: #000;
	margin-bottom: 10px;
}
.comments-hours{
	color: #95A5A6;
	font-weight: 400;
}
.comments-text{
	line-height: 1.5em;
	color: #95A5A6;
}
/* FOOTER */
footer{
	color: #000;
	background-color: #F2F1EF;
	padding: 5px 5% 10px 5%;
	bottom: 0;
}
.close-btn {
	margin-top: 10px;
	font-weight: 800;
	color: #000;
	background-color: #F2F1EF;
	border-radius: 2px;
	padding: 10px;
	text-transform: uppercase;
	outline: none;
	border: 0;
}
.fa-comment-o {
	margin-top: 20px; 
	float: right;
}